*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

.grid {
	display:               grid;
	grid-template-columns: 1fr;
	grid-template-areas:   'header' 'main' 'footer';
	grid-auto-rows:        minmax(100px, auto);
}

.grid header {
	display:            grid;
	grid-area:          header;
	grid-row-gap:       5vh;
	background:         url(../img/bg.jpg) no-repeat;
	background-size:    cover;
	grid-template-rows: 1fr 86vh;
}

.grid header .heading-container {
	display:               -webkit-box;
	display:               -ms-flexbox;
	display:               flex;
	-ms-flex-pack:         distribute;
	justify-content:       space-around;
	margin-top:            3vh;
	-webkit-box-orient:    horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction:    row;
	flex-direction:        row;
}

.grid header .heading-container .logo {
	display:           -webkit-box;
	display:           -ms-flexbox;
	display:           flex;
	-webkit-box-align: center;
	-ms-flex-align:    center;
	align-items:       center;
	-webkit-box-pack:  center;
	-ms-flex-pack:     center;
	justify-content:   center;
}

.grid header .heading-container .menu {
	grid-area:         menu;
	display:           -webkit-box;
	display:           -ms-flexbox;
	display:           flex;
	-webkit-box-align: center;
	-ms-flex-align:    center;
	align-items:       center;
	-webkit-box-pack:  center;
	-ms-flex-pack:     center;
	justify-content:   center;
}

.grid header .heading-container .menu div {
	padding: 10px 20px;
}

.grid header .heading-container .menu div a {
	text-decoration:    none;
	color:              #ECF0F1;
	font-family:        sans-serif;
	font-size:          1.2em;
	text-transform:     uppercase;
	-webkit-transition: .3s ease-in;
	transition:         .3s ease-in;
}

.grid header .heading-container .menu div a:hover {
	color: #A2A6A7;
}

.grid header > .container {
	display:               -webkit-box;
	display:               -ms-flexbox;
	display:               flex;
	font-family:           sans-serif;
	text-transform:        uppercase;
	-webkit-box-orient:    vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction:    column;
	flex-direction:        column;
	-webkit-box-pack:      center;
	-ms-flex-pack:         center;
	justify-content:       center;
	-webkit-box-align:     center;
	-ms-flex-align:        center;
	align-items:           center;
}

.grid header > .container > .title > h2 {
	text-align: center;
	font-size:  2.5em;
	color:      #ECF0F1;
}

.grid header > .container > .call-us {
	-webkit-transition: .1s ease-in;
	transition:         .1s ease-in;
	border:             .3vh solid #ECF0F1;
	width:              200px;
	height:             50px;
	display:            -webkit-box;
	display:            -ms-flexbox;
	display:            flex;
	-webkit-box-pack:   center;
	-ms-flex-pack:      center;
	justify-content:    center;
	-webkit-box-align:  center;
	-ms-flex-align:     center;
	align-items:        center;
	border-radius:      5px;
}

.grid header > .container > .call-us:hover {
	background-color: rgba(0, 0, 0, 0.1);
	cursor:           pointer;
}

.grid header > .container > .call-us:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.grid header > .container > .call-us a {
	text-decoration: none;
	color:           #ECF0F1;
}

.grid main {
	grid-area:          main;
	font-family:        sans-serif;
	display:            grid;
	grid-template-rows: repeat(5, minmax(100px, auto));
}

.grid main h3 {
	-ms-flex-item-align: center;
	align-self:          center;
	text-transform:      uppercase;
	font-size:           2em;
}

.grid main .description {
	margin-top:          5%;
	-ms-flex-item-align: center;
	align-self:          center;
	margin-bottom:       5%;
	font-size:           1.3em;
	max-width:           80vh;
	text-align:          center;
}

.grid main section {
	margin:                0 auto;
	margin-top:            10%;
	max-width:             160vh;
	display:               -webkit-box;
	display:               -ms-flexbox;
	display:               flex;
	-webkit-box-orient:    vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction:    column;
	flex-direction:        column;
}

.grid main section:last-child {
	margin-bottom: 20vh;
}

.grid main section .feature-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.grid main section .feature-list .feat {
	position:              relative;
	display:               -webkit-box;
	display:               -ms-flexbox;
	display:               flex;
	-webkit-box-orient:    vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction:    column;
	flex-direction:        column;
}

.grid main section .feature-list .feat .wrapper-pic {
	-ms-flex-item-align: center;
	align-self:          center;
	width:               70px;
	height:              70px;
	display:             -webkit-box;
	display:             -ms-flexbox;
	display:             flex;
	-webkit-box-pack:    center;
	-ms-flex-pack:       center;
	justify-content:     center;
	-webkit-box-align:   center;
	-ms-flex-align:      center;
	align-items:         center;
}

.grid main section .feature-list .feat img {
	-ms-flex-item-align: center;
	align-self:          center;
}

.grid main section .feature-list .feat h4 {
	text-transform:      capitalize;
	-ms-flex-item-align: center;
	align-self:          center;
}

.grid main section .feature-list .feat p {
	-ms-flex-item-align: center;
	align-self:          center;
	max-width:           80%;
	text-align:          center;
}

.grid main section article {
	display:               grid;
	grid-template-columns: repeat(3, 1fr);
}

.grid main section article .element {
	text-align: center;
}

.grid main section article .element:first-child {
	text-align: right;
}

.grid main section article .element:last-child {
	text-align: left;
}

.grid main section .portfolio {
	display:          -webkit-box;
	display:          -ms-flexbox;
	display:          flex;
	-webkit-box-pack: center;
	-ms-flex-pack:    center;
	justify-content:  center;
	-ms-flex-wrap:    wrap;
	flex-wrap:        wrap;
}

.grid main section .portfolio img {
	margin: 5px;
}

.grid main section .showcase {
	display:               grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows:    minmax(100px, auto);
}

.grid main section .showcase div {
	padding:     10px 20px;
	background:  #3A426A;
	color:       #ECF0F1;
	line-height: 1.5;
}

.grid main section .showcase div h3 {
	margin-top: 10px;
	text-align: center;
}

.grid main section .showcase div > .call-us {
	margin:             0 auto;
	-webkit-transition: .1s ease-in;
	transition:         .1s ease-in;
	border:             .3vh solid #ECF0F1;
	width:              200px;
	height:             50px;
	display:            -webkit-box;
	display:            -ms-flexbox;
	display:            flex;
	-webkit-box-pack:   center;
	-ms-flex-pack:      center;
	justify-content:    center;
	-webkit-box-align:  center;
	-ms-flex-align:     center;
	align-items:        center;
	border-radius:      5px;
}

.grid main section .showcase div > .call-us:hover {
	background-color: rgba(0, 0, 0, 0.1);
	cursor:           pointer;
}

.grid main section .showcase div > .call-us:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.grid main section .showcase div > .call-us a {
	text-decoration: none;
	color:           #ECF0F1;
	text-transform:  uppercase;
}

.grid main section .showcase img {
	width:  100%;
	height: auto;
}

.grid main section .team {
	display:               -webkit-box;
	display:               -ms-flexbox;
	display:               flex;
	-webkit-box-orient:    vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction:    column;
	flex-direction:        column;
}

.grid main section .team .team-members {
	display:         -webkit-box;
	display:         -ms-flexbox;
	display:         flex;
	-ms-flex-pack:   distribute;
	justify-content: space-around;
	text-align:      center;
}

.grid main section .team .team-members .member {
	padding: 5px;
}

.grid main section .team .team-members .member .social-networks {
	display:         -webkit-box;
	display:         -ms-flexbox;
	display:         flex;
	-ms-flex-pack:   distribute;
	justify-content: space-around;
}

.grid main section .team .team-members .member .social-networks .icon {
	display:            -webkit-box;
	display:            -ms-flexbox;
	display:            flex;
	width:              50px;
	-webkit-box-pack:   center;
	-ms-flex-pack:      center;
	justify-content:    center;
	-webkit-box-align:  center;
	-ms-flex-align:     center;
	align-items:        center;
	height:             50px;
	background:         #3A99D8;
	border-radius:      50%;
	-webkit-transition: .3s;
	transition:         .3s;
}

.grid main section .team .team-members .member .social-networks .icon:hover {
	background:  #207498;
	text-shadow: none;
}

.grid main section .team .team-members .member .social-networks .icon a {
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	font-size:   1.8em;
	color:       #FFF;
}

.grid footer {
	grid-area:   footer;
	background:  #3A426A;
	font-family: sans-serif;
}

.grid footer .contact-us {
	margin:             0 auto;
	max-width:          160vh;
	display:            grid;
	grid-template-rows: repeat(3, minmax(100px, auto));
}

.grid footer .contact-us .text-inners h3 {
	font-size:      1.5em;
	text-transform: uppercase;
	color:          #ECF0F1;
	text-align:     center;
}

.grid footer .contact-us .text-inners .description {
	color:      #ECF0F1;
	font-size:  1.2em;
	text-align: center;
}

.grid footer .contact-us form {
	display:          -webkit-box;
	display:          -ms-flexbox;
	display:          flex;
	-webkit-box-pack: center;
	-ms-flex-pack:    center;
	justify-content:  center;
}

.grid footer .contact-us form input[type="submit"] {
	background-color:   transparent;
	color:              #ECF0F1;
	cursor:             pointer;
	padding:            10px 20px;
	border:             1px solid #FFF;
	text-transform:     uppercase;
	-webkit-transition: .2s;
	transition:         .2s;
}

.grid footer .contact-us form input[type="submit"]:hover {
	background: rgba(0, 0, 0, 0.1);
}

.grid footer .contact-us form input,
.grid footer .contact-us form textarea {
	outline:       none;
	border-radius: 5px;
	border:        2px solid #FFF;
	width:         250px;
	padding:       10px 20px;
	margin-bottom: 15px;
}

.grid footer .contact-us form input:focus,
.grid footer .contact-us form textarea:focus {
	border: 2px solid #54A0FF;
}

.grid footer .contact-us form textarea {
	min-height: 157px;
	max-height: 400px;
	resize:     vertical;
}

.grid footer .contact-us form div {
	display:               -webkit-box;
	display:               -ms-flexbox;
	display:               flex;
	-webkit-box-orient:    vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction:    column;
	flex-direction:        column;
	padding:               10px;
}

.grid footer .contact-us form div:first-child {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order:            2;
	order:                     2;
}

.grid footer .about {
	display:               -webkit-box;
	display:               -ms-flexbox;
	display:               flex;
	-webkit-box-orient:    vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction:    column;
	flex-direction:        column;
	-webkit-box-pack:      center;
	-ms-flex-pack:         center;
	justify-content:       center;
	max-width:             160vh;
	margin:                0 auto;
}

.grid footer .about h4 {
	color:      #ECF0F1;
	text-align: center;
}

.grid footer .about h4 a {
	color:           #7076AF;
	text-decoration: none;
}

.grid footer .about h4 a:hover {
	text-decoration: underline;
}

.grid footer .about .socials {
	display:          -webkit-box;
	display:          -ms-flexbox;
	display:          flex;
	-webkit-box-pack: center;
	-ms-flex-pack:    center;
	justify-content:  center;
	margin-bottom:    40px;
}

.grid footer .about .socials div {
	margin-right:      10px;
	display:           -webkit-box;
	display:           -ms-flexbox;
	display:           flex;
	font-size:         2em;
	width:             60px;
	height:            60px;
	background:        #3A99D8;
	-webkit-box-pack:  center;
	-ms-flex-pack:     center;
	justify-content:   center;
	-webkit-box-align: center;
	-ms-flex-align:    center;
	align-items:       center;
	border-radius:     50%;
}

.grid footer .about .socials div a {
	color: #3A426A;
}
